* {
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 199, 230);
}

h1 {
    display: flex;
    width: 80%; 
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    color:black;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    
    // border: 5px ridge rgb(8, 43, 8);
}


button {
    background-color: rgb(73, 211, 130);
    border-radius: 10px;
    font-family:fantasy;
    font-size: large;
    height: 3em;
    border: 5px ridge rgb(8, 43, 8);
    margin: 2%;
}

button:hover {background-color: rgb(45, 131, 81); }

button:active{ background-color: rgb(29, 87, 53); box-shadow: 0 4px #666;}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border: 5px ridge rgb(8, 43, 8);
    width: 80%; 
    background-color: rgb(224, 255, 242);
    color: black;
    &__gallowsContainer {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 80%;
        &_typewriter {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            width:fit-content;
            background-color: rgb(8, 43, 8);
            border-radius: 10%;
            padding:1%;
            margin: 2%;
            &_keysRow{
                display: flex;
                justify-content: center;
                align-self: center;
                align-items: center;
                width: 85%;  
                &_keyCap {
                    display: flex;
                    height:35px;
                    width: 35px;
                    padding: 5%;
                    justify-content: center;
                    align-self: center;
                    align-items: center;
                    border : 3px solid silver;
                    border-radius: 50%;
                    color: white;
                    background-color: black;
                    

                }  
            }
        }
    }
}

.gallowsStart {
    border: 5px ridge gold;
    margin: 2%;
    box-shadow: 0 1.2em 2.4em rgb(67, 67, 67);
    width: 50%;
}

.hidden {
    display: none;
}


.wordBox {
    display: flex;
    background-color: antiquewhite;
    border: 5px ridge gold;
    margin: 2%;
    padding: 2%;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-shadow: 0 1.2em 2.4em rgb(67, 67, 67);
    font-size: x-large;
    font-weight: bold;
    
}

.endGame {
    display: flex;
    color: black;
    background-color: palevioletred;
    border: 5px solid red;
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding: 2%;
    margin: 2%;
}

.winGame {
    display: flex;
    color: black;
    background-color: lightgreen;
    border: 5px solid greenyellow;
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding: 2%;
    margin: 2%;
}
.playAgain {
    display: flex;
    color: rgb(8, 63, 26);
    border: 5px solid rgb(118, 155, 45);
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: x-large;
    width: 50%;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
  
}

.playAgain:hover {background-color: rgb(45, 131, 81); }

.playAgain:active{ background-color: rgb(29, 87, 53); box-shadow: 0 4px #666;}